<nav class="navbar navbar-expand-sm  navbar-light bg-light">
	<a class="navbar-brand" href="/home">
		<div class="logo"> <b> ChatSecure </b> </div>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"> </span>
	</button>
	{{#if user}}
	<span class="navbar-text">Welcome {{user.name}}! </span>
	{{/if}}
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto" style="color:white">
			{{#if user}}
			<li class="nav-item dropdown">
				<a class=" nav-link dropdown-toggle" data-toggle="dropdown">
					<img src="/images/man.png" class="userLogo"> </a>
				<div class="dropdown-menu ">
					<a class="dropdown-item" href="/user/profile">My profile</a>
				</div>
			</li>
			<li class="nav-item ">
				<a class="nav-link" href="/logout">Logout</a>
			</li>
			{{else}}
			<li class="nav-item ">
				<a class="nav-link" href="/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/home">Register</a>
			</li>
			{{/if }}
		</ul>
	</div>
</nav>